.form-container{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 10px;
    border: 1px solid steelblue;
}

.input-field {
    display: flex;
    justify-content: space-between;
}